  .text1{
      text-align: center;
      color: white;
      position: relative;
      font-family: 'Holtwood One SC';
      
      top: 350px
  }
  .text2 {
      text-align: center;
      color:white;
      position: relative;
      top:370px;
  }

  .bg_image{
     background-image: url("./Page1.jpg"); 
       background-position: center center; 
       background-attachment: fixed; 
       background-repeat: no-repeat; background-size: cover; 
       overflow: hidden;
  }

  .w3-content{
    text-align:center;
  }

  .thumbs-wrapper{
    display: none;
  }
  .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    background: black;
    opacity: 0.6;
  }

  .txt{
    font-size: x-large;
  }

  .carousel-status{
    display: none;
  }
  .centered {
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  .legend{
    color:white;
    background-color: white;
    background: white;
    margin-bottom: 10%;
  }
  #img-1{
    height: 100vh;
    overflow: hidden;
  }
  
  #img-2{
    height: 100vh;
  }
  
  #img-3{
    height: 100vh;
  }
  
  @media screen and (max-width:600px) {

    .txt{
      font-size: medium;
    }
    .axis-horizontal {
      height: auto;
      /* max-width: 00px; */
      /* display: none; */
    }
    #img-1{
      height: 80vh;
      overflow: hidden;
    }
    
    #img-2{
      height: 80vh;
    }
    
    #img-3{
      height: 80vh;
    }
    /* .legend{
      display: none;
    } */
    .control-arrow{
      display: none;
    }

    /* li.slide.slide-selected{
      height: 100px;
      width: 100px;
    } */
    /* ul{
      /* height: 60vh; */
    }
    /* .container{ */
      /* height:0px */
    /* }  */
   
  /* } */
  