  .text1{
      text-align: center;
      color: white;
      position: relative;
      font-family: 'Holtwood One SC';
      
      top: 350px
  }
  .text2 {
      text-align: center;
      color:white;
      position: relative;
      top:370px;
  }

  .bg_image{
     background-image: url("./Page1.jpg"); 
       background-position: center center; 
       background-attachment: fixed; 
       background-repeat: no-repeat; background-size: cover; 
       overflow: hidden;
  }

  .w3-content{
    text-align:center;
  }
