.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .img-1{
        margin: 15px;
        transition: all 1s;
        height: 70vh;
        border-radius: 1vmin;
        width: 80vh;
    }
    /* img:hover{
        transform: scale(1.1)
    } */

    @media only screen and (max-width: 600px) {
        .img-1 {
            height:40vh;
            width:40vh;
            border-radius: 1vmin;
        }
      }